{{> header}}
<!--A pre-loader before actual page-->
<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<!-- Page content -->
<div class="w3-content w3-cell-row" style="width:75%; max-width:2000px; margin-top:46px;">
  <!-- A large amazing Image depicting some pattern -->
   <div class="w3-container w3-display-container w3-two-third w3-cell">
     <img src='./img/logo.png' class='overlay'>
    <button class="w3-button w3-teal" style="margin-top:0px;">Find Directions</button>
  </div>
  <div class="w3-container w3-cell">
    <img src='./img/download.png' style="width:100%;" class='overlay'>
  </div>
  </div>

  <!-- The About Section -->
  <div class="w3-teal">
  <div class="w3-container w3-center w3-content w3-padding-64" style="max-width:800px" id="about">
    <h2 class="w3-wide">About</h2>
    <p class="w3-opacity"><i>We Are a courier company</i></p>
    <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    {{!-- <div class="w3-row w3-padding-48">
        <h2 class="w3-wide">The Team</h2>
      <div class="w3-third">
        <p>Muhammad Abdulkadir</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Abdullah</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Zubairu Dalhat Zubair</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div> --}}
  </div> 


  <!-- The Contact Section -->
  <div style="background-image:url(./img/Vorderrhein.png)">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px;" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>get in touch with us today</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> kaduna, Nigeria<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +234<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  </div>
<!-- End Page Content -->
</div>

<!-- Iframe for location/map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3922.3779054630854!2d7.448759114367889!3d10.549571892475717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x11b2b543729636df%3A0xb726f1f5feca842e!2sDanja%20Rd%2C%20Ungwan%20Sarki%20Muslimi%2C%20Kaduna!5e0!3m2!1sen!2sng!4v1602685019779!5m2!1sen!2sng" height="450" frameborder="0" style="width: 100%; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{{> footer}}

</body>
</html>